wsdl/fidelix-2.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://fidelix.fi/webVision/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://fidelix.fi/webVision/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://fidelix.fi/webVision/">
      <s:element name="getPointData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="point_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPointDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getPointDataResult" nillable="true" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPointDataList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="point_ids" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getPointDataListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPointDataListResult" type="tns:ArrayOfPointData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPointData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PointData" nillable="true" type="tns:PointData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PointData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="setPointData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="point_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="state" type="tns:POINT_STATE" />
            <s:element minOccurs="1" maxOccurs="1" name="val" nillable="true" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="POINT_STATE">
        <s:restriction base="s:string">
          <s:enumeration value="DEPRECATED" />
          <s:enumeration value="AUTO" />
          <s:enumeration value="MANUAL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="setPointDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="setPointDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoryPointsForGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoryPointsForGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoryPointsForGroupResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoryValuesForGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="start" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoryValuesForGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoryValuesForGroupResult" type="tns:HistoryGroupData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="HistoryGroupData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HistoryDataList" type="tns:ArrayOfHistoryData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHistoryData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HistoryData" nillable="true" type="tns:HistoryData" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HistoryData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PointId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Values" type="tns:ArrayOfHistoryTimeValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfHistoryTimeValuePair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HistoryTimeValuePair" nillable="true" type="tns:HistoryTimeValuePair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HistoryTimeValuePair">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Time" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" nillable="true" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetHistoryValuesForGroupExtended">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="start" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="end" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeSpanMinutes" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHistoryValuesForGroupExtendedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHistoryValuesForGroupExtendedResult" type="tns:HistoryGroupData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="double" nillable="true" type="s:double" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
      <s:element name="HistoryGroupData" nillable="true" type="tns:HistoryGroupData" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getPointDataSoapIn">
    <wsdl:part name="parameters" element="tns:getPointData" />
  </wsdl:message>
  <wsdl:message name="getPointDataSoapOut">
    <wsdl:part name="parameters" element="tns:getPointDataResponse" />
  </wsdl:message>
  <wsdl:message name="getPointDataListSoapIn">
    <wsdl:part name="parameters" element="tns:getPointDataList" />
  </wsdl:message>
  <wsdl:message name="getPointDataListSoapOut">
    <wsdl:part name="parameters" element="tns:getPointDataListResponse" />
  </wsdl:message>
  <wsdl:message name="setPointDataSoapIn">
    <wsdl:part name="parameters" element="tns:setPointData" />
  </wsdl:message>
  <wsdl:message name="setPointDataSoapOut">
    <wsdl:part name="parameters" element="tns:setPointDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoryPointsForGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoryPointsForGroup" />
  </wsdl:message>
  <wsdl:message name="GetHistoryPointsForGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoryPointsForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoryValuesForGroup" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoryValuesForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupExtendedSoapIn">
    <wsdl:part name="parameters" element="tns:GetHistoryValuesForGroupExtended" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupExtendedSoapOut">
    <wsdl:part name="parameters" element="tns:GetHistoryValuesForGroupExtendedResponse" />
  </wsdl:message>
  <wsdl:message name="getPointDataHttpGetIn">
    <wsdl:part name="point_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPointDataHttpGetOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetHistoryPointsForGroupHttpGetIn">
    <wsdl:part name="groupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryPointsForGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupHttpGetIn">
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="start" type="s:string" />
    <wsdl:part name="end" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupHttpGetOut">
    <wsdl:part name="Body" element="tns:HistoryGroupData" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupExtendedHttpGetIn">
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="start" type="s:string" />
    <wsdl:part name="end" type="s:string" />
    <wsdl:part name="timeSpanMinutes" type="s:string" />
    <wsdl:part name="mode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupExtendedHttpGetOut">
    <wsdl:part name="Body" element="tns:HistoryGroupData" />
  </wsdl:message>
  <wsdl:message name="getPointDataHttpPostIn">
    <wsdl:part name="point_id" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPointDataHttpPostOut">
    <wsdl:part name="Body" element="tns:double" />
  </wsdl:message>
  <wsdl:message name="GetHistoryPointsForGroupHttpPostIn">
    <wsdl:part name="groupId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryPointsForGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupHttpPostIn">
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="start" type="s:string" />
    <wsdl:part name="end" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupHttpPostOut">
    <wsdl:part name="Body" element="tns:HistoryGroupData" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupExtendedHttpPostIn">
    <wsdl:part name="groupId" type="s:string" />
    <wsdl:part name="start" type="s:string" />
    <wsdl:part name="end" type="s:string" />
    <wsdl:part name="timeSpanMinutes" type="s:string" />
    <wsdl:part name="mode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHistoryValuesForGroupExtendedHttpPostOut">
    <wsdl:part name="Body" element="tns:HistoryGroupData" />
  </wsdl:message>
  <wsdl:portType name="FidelixSoap">
    <wsdl:operation name="getPointData">
      <wsdl:input message="tns:getPointDataSoapIn" />
      <wsdl:output message="tns:getPointDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPointDataList">
      <wsdl:input message="tns:getPointDataListSoapIn" />
      <wsdl:output message="tns:getPointDataListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setPointData">
      <wsdl:input message="tns:setPointDataSoapIn" />
      <wsdl:output message="tns:setPointDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <wsdl:input message="tns:GetHistoryPointsForGroupSoapIn" />
      <wsdl:output message="tns:GetHistoryPointsForGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <wsdl:input message="tns:GetHistoryValuesForGroupSoapIn" />
      <wsdl:output message="tns:GetHistoryValuesForGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <wsdl:input message="tns:GetHistoryValuesForGroupExtendedSoapIn" />
      <wsdl:output message="tns:GetHistoryValuesForGroupExtendedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FidelixHttpGet">
    <wsdl:operation name="getPointData">
      <wsdl:input message="tns:getPointDataHttpGetIn" />
      <wsdl:output message="tns:getPointDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <wsdl:input message="tns:GetHistoryPointsForGroupHttpGetIn" />
      <wsdl:output message="tns:GetHistoryPointsForGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <wsdl:input message="tns:GetHistoryValuesForGroupHttpGetIn" />
      <wsdl:output message="tns:GetHistoryValuesForGroupHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <wsdl:input message="tns:GetHistoryValuesForGroupExtendedHttpGetIn" />
      <wsdl:output message="tns:GetHistoryValuesForGroupExtendedHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FidelixHttpPost">
    <wsdl:operation name="getPointData">
      <wsdl:input message="tns:getPointDataHttpPostIn" />
      <wsdl:output message="tns:getPointDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <wsdl:input message="tns:GetHistoryPointsForGroupHttpPostIn" />
      <wsdl:output message="tns:GetHistoryPointsForGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <wsdl:input message="tns:GetHistoryValuesForGroupHttpPostIn" />
      <wsdl:output message="tns:GetHistoryValuesForGroupHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <wsdl:input message="tns:GetHistoryValuesForGroupExtendedHttpPostIn" />
      <wsdl:output message="tns:GetHistoryValuesForGroupExtendedHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FidelixSoap" type="tns:FidelixSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPointData">
      <soap:operation soapAction="http://fidelix.fi/webVision/getPointData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPointDataList">
      <soap:operation soapAction="http://fidelix.fi/webVision/getPointDataList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPointData">
      <soap:operation soapAction="http://fidelix.fi/webVision/setPointData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <soap:operation soapAction="http://fidelix.fi/webVision/GetHistoryPointsForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <soap:operation soapAction="http://fidelix.fi/webVision/GetHistoryValuesForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <soap:operation soapAction="http://fidelix.fi/webVision/GetHistoryValuesForGroupExtended" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FidelixSoap12" type="tns:FidelixSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPointData">
      <soap12:operation soapAction="http://fidelix.fi/webVision/getPointData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPointDataList">
      <soap12:operation soapAction="http://fidelix.fi/webVision/getPointDataList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setPointData">
      <soap12:operation soapAction="http://fidelix.fi/webVision/setPointData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <soap12:operation soapAction="http://fidelix.fi/webVision/GetHistoryPointsForGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <soap12:operation soapAction="http://fidelix.fi/webVision/GetHistoryValuesForGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <soap12:operation soapAction="http://fidelix.fi/webVision/GetHistoryValuesForGroupExtended" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FidelixHttpGet" type="tns:FidelixHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="getPointData">
      <http:operation location="/getPointData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <http:operation location="/GetHistoryPointsForGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <http:operation location="/GetHistoryValuesForGroup" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <http:operation location="/GetHistoryValuesForGroupExtended" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FidelixHttpPost" type="tns:FidelixHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="getPointData">
      <http:operation location="/getPointData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryPointsForGroup">
      <http:operation location="/GetHistoryPointsForGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroup">
      <http:operation location="/GetHistoryValuesForGroup" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryValuesForGroupExtended">
      <http:operation location="/GetHistoryValuesForGroupExtended" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Fidelix">
    <wsdl:port name="FidelixSoap" binding="tns:FidelixSoap">
      <soap:address location="https://fidelix-dmz.hel.fi/WebServices/Fidelix.asmx" />
    </wsdl:port>
    <wsdl:port name="FidelixSoap12" binding="tns:FidelixSoap12">
      <soap12:address location="https://fidelix-dmz.hel.fi/WebServices/Fidelix.asmx" />
    </wsdl:port>
    <wsdl:port name="FidelixHttpGet" binding="tns:FidelixHttpGet">
      <http:address location="https://fidelix-dmz.hel.fi/WebServices/Fidelix.asmx" />
    </wsdl:port>
    <wsdl:port name="FidelixHttpPost" binding="tns:FidelixHttpPost">
      <http:address location="https://fidelix-dmz.hel.fi/WebServices/Fidelix.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>


